@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Pacifico&display=swap');
* {
     margin: 0;
     padding: 0;
      text-decoration: none;
     list-style: none;
     box-sizing: border-box;
}

body {
    font-family: "Roboto",sans-serif;
    background-image: url(/image/bg1.png);
    background-repeat: no-repeat;
    background-position: center;       
    background-attachment: fixed; 
    background-size: cover;
}



header nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 13px;
    margin-left: 200px;
}

header nav .logo h1 {
    font-size: 40px;
    color: #C81E90;
}

header nav .link a{
    padding: 32px;
    font-weight: 400;
    font-size: 19px;
    color: black;
}

header nav .icons i{
    padding: 15px;
    font-size: 25PX;
}

header hr {
  margin-top: 15px;
  border: none;
  height: 1px;
  background-color: black;
}

header .menu_icon {
    display: none;
    z-index: 3;
    cursor: pointer;
    font-size:40px;
    color: rgb(0, 0, 0);
}

header .menu_icon i {
    color: rgb(0, 0, 0);
}

header .icons a{
    color: black;
    transition: 0.4s ease;
}

header .icons a:hover {
    color: rgb(252, 150, 167);
}
@media screen and (max-width: 1150px) {
    header hr,
    header .icons {
        display: none;
    }

   header .logo {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 15%;
   }

    header .menu_icon {
        display: flex;
        position: absolute;
        top: 30px;
        right: 60px;
        z-index: 3;
        cursor: pointer;
    }

    /* Cache les liens par défaut */
    header nav .link {
        display: none;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 2;
        transform: translateY(-100%); /* Cache le menu en haut de la page */
        
    }

    header nav .link a{
        font-size: 25px;
        font-weight: 500;
    }

    header nav .link a:hover {
        color: #C81E90;
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

   
    .menu-open header nav .link {
        display: flex;
        animation: slideDown 0.5s ease forwards;
    }
}

.container li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 200px;
}

.container .text{
    margin-top: 200px;
}

.container li h1 {
    letter-spacing: 40px;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-family: "Creepster";
    margin-left: -85px;
    margin-top: -200px;
}

.container li h2{
    font-size: 70px;
    background: linear-gradient(to right, #c72092,#6e15d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -85px;
    margin-top: -20px;
}

.container li p {
    margin-left: -85px;
    color: black;
    font-size: 18PX;
    line-height: 25px;
    margin-top: 45px;
}

.container li .boutton {
    margin-left: -85px;
    margin-top: 100px;
}

.container li .boutton button {
    background: linear-gradient(5deg, rgb(231, 109, 238), rgb(104, 22, 182));
   color: white;
   border: none;
   padding: 13px 33px;
   border-radius: 40px;
   font-size: 20px;
   cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .container li  {
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 400px;
        margin-left: 200px;
    }
 
    .container li .text ul {
        display: none;
    }

    .container .image {
        position: relative;
        margin-top: 700px;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

.products {
    flex-wrap: wrap;
    background-color: white;
    height: 170vh;
    margin-top: 100px;
}

.products .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background: linear-gradient(to right, #c72092,#6e15d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products .title h1 {
    margin-top: 100px;
}

.products .cartes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 70px;
} 

.products .cartes .img {
    margin-top: -40px;
    transition: transform 0.5s ease ;
}

.products .cartes .img:hover {
   transform: scale(1.1);
}

.products .cartes .card {
    border: 2px solid;
    text-align: center;
    border-color: #beacdb;
    box-shadow: 5px 10px 100px rgba(0, 0, 0, 0.3);
    padding: 60px 60px;
    border-radius: 10px;
}

.products .cartes .card .avis {
    color: #FFA500;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 4px;
}

.products .cartes .card .contend h1 {
    font-size: 40px;
    padding-top: 30px;
    letter-spacing: 3px;
}

.products .cartes .card .contend p {
    margin-top: 13px;
    color: #b6b6b6;
    font-size: 20px;
    line-height: 30px;
}

.products .cartes .card .contend h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 900;
}


.products .cartes .card .contend .btn {
    background: linear-gradient(to right, #c72092,#6e15d4);
    margin-top: 25px;
    padding: 20px;
}

.products .cartes .card .contend .btn a {
    color: white;
    font-size: 20px;
}

.info_shoes {
    background-color: white;
   height: 90vh;
}

.info_shoes .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.info_shoes .title span {
    background: linear-gradient(to right, #c72092,#6e15d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info_shoes .contend {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.info_shoes .contend .text {
    font-size: 20px;
    line-height: 25px;
    color: #976999;
    border: 2px solid;
    padding: 35px 50px;
    border-radius: 20px;
      box-shadow: 5px 10px 100px #976999b6;
    margin-left: 100px;
}

.gallery-container {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}


.thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.thumbnail {
    width: 130px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;
    background: linear-gradient(to right, #c72092,#6e15d4);
    padding: 20PX 30px;
}


.thumbnail:hover,
.thumbnail.active {
    border-color: purple;
    transform: scale(1.05);
}


.main-image-container {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    border: 3px solid purple;
    padding: 10px 10PX;
    background-color: #fff;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.review{
    background-color: white;
    height: 80vh;
}

.review .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.review .title span{
    background: linear-gradient(to right, #c72092,#6e15d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review .avis {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 60px;
}

.review .avis .avis_card {
    border: 1px;;
    padding: 35px 25px; 
     box-shadow: 5px 10px 100px rgba(0, 0, 0, 0.288);
}

.review .avis .avis_card .name {
    font-size: 25px;
    font-weight: 800;
}

.review .avis .avis_card .text {
    padding-top: 20px;
}

.review .avis .avis_card .étoiles {
    color: #FFA500;
    font-size: 16px;
    padding-top: 5px;
}

.review .avis .avis_card .text {
    font-size: 19px;
}